@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


:root {
    --corPrincipal: #0a3871;
    --corSecundaria: #495057;
    --corTerciaria: #343A40;
    --corQuartenaria: #F3F5FC;
    --corPentenaria: white;

    --fontInter: "Inter", sans-serif;
}

* {
    margin: 0%;
    padding: 0%;
    font-family: var(--fontInter);
}

body {
    background-color: var(--corQuartenaria);
}

.cabecalho {
    display: flex;
    padding: 2%;
    max-width: 60%;
}

.cabecalho img {
    max-height: 48px;
    width: 120px;
    gap: 40px;
}

.main-container{
    display: flex;
    justify-content: space-between;
    margin-right: 3%;
    height: 944px;
}

.container-inputText {
    width: 680px;
    margin-top: 4%;
    margin-left: 15%;
}

.container-inputText .input {
    width: 100%;
    height: 80%;
    background: transparent;
    border: none;
    font-size: 2rem;
    box-shadow: none;
    border: 1px #0A3871;
    outline: 0;
}


::placeholder {
    color: #0A3871;
}

.container-outputText {
    align-content: center;
    text-align: center;
    background-color: var(--corPentenaria);
    border-radius: 2rem;
    margin-top: -2%;
    margin-right: 0;
    width: 400px;
    height: 100%;
    gap: 2%;
    box-shadow: 0px 24px 32px -8px #00000014, 0 24px 32px -8px #FFFFFF;
}

.container-outputText-outputImg {
    gap: 16px;
}

.container-outputText-outputImg img{
    width: 336px;
    height: 304px;
}

.container-outputText-outputImg-legenda{
    width: 336px;
    height: 122px;
    gap: 16px;
    text-align: center;
    margin: 0 auto;
}

.outputText {
    font-size: 2rem;
    text-align: justify;
    color: var(--corTerciaria);
    box-shadow: none;
    border: none;
    outline: 0;
    text-transform: lowercase;
    width: 95%;
    height: 781px;
}

.bnt--copiar {
    border: 2px solid var(--corPrincipal);
    border-radius: 10px;
    text-decoration: none;
    color: var(--corPrincipal);
    width: 95%;
    height: 67px;
    background-color: var(--corPentenaria);
    gap: 24px;
    cursor: pointer;
    margin-top: 1%;
}

.buttons {
    display: flex;
    gap: 24px;
}

.container--bnt {
    width: 100%;
}

.container--bnt button {
    border: 2px solid var(--corPrincipal);
    border-radius: 10px;
    text-decoration: none;
    width: 100%;
    height: 67px;
    cursor: pointer;
}



.bnt--criptografar {
    color: var(--corPentenaria);
    background-color: var(--corPrincipal);
}

.bnt--descriptografar {
    color: var(--corPrincipal);
    background-color: var(--corQuartenaria);
}

button:hover {
    width: Fixed (328px);
    height: Hug (67px);
    padding: 24px;
    border-radius: 24px;
    border: 1px;
    gap: 8px;
    transition: 0.5s all;
    border: 1px solid #0A3871;
}

.observacao {
    width: 100%;
    height: 100%;
    gap: 8px;
    font-weight: 400;
    line-height: 18px;
    top: 851px;
    left: 240px;
}

.observacao img {
    vertical-align: middle;
    display: inline-block;
}



/* Style para tablet */
@media (max-width: 770px) {
    .cabecalho{
        padding: 0;
        margin: 5% 2% 8% 2%;
    }

    .cabecalho img {
        width: 70px;
        height: 51px;
    }

    .main-container{
        display: inline-block;
        width: 92%;
        height: 1174px;
        flex-direction: column;
        margin: 5% 0 5% 5%;
        gap: 100px;
    }

    .container-inputText {
        width: 100%;
        height: 70%;
        margin: 0;
    }

    .container--bnt{
        width: 98%;
    }

    .container-outputText {
        width: 100%;
        height: auto;
    }

    .container-outputText-outputImg-legenda{
        width: 100%;
        align-content: center;
    }

    .outputText {
        margin: 5% auto 5% auto;
    }

    #output img {
        display: none;
    }

    .bnt--copiar {
        align-content: unset;
        margin-bottom: 2%;
    }


}

/* Style para Mobile */
@media (max-width: 380px) {

    .container--bnt button {
        width: 100%;
    }

    .buttons {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 5%;
        gap: 10px;
    }

    .container-outputText-outputImg-legenda{
        width: 95%;
        margin: 2% auto 2% auto;
    }

    .container-outputText {
       margin-top: 10%;
       margin-bottom: 5%;
    }
}